@model List<CourseViewModel>

<table class="table">
    <thead>
        <tr>
            <th>Course Title</th>
            <th>Semester</th>
            <th>Professor Name</th>
            <th>Professor Surname</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.CourseTitle</td>
                <td>@course.Semester</td>
                <td>@course.ProfessorName</td>
                <td>@course.ProfessorSurname</td>
            </tr>
        }
    </tbody>
</table>
